@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bayon&family=Big+Shoulders+Display:wght@100..900&family=Chango&family=DM+Serif+Display:ital@0;1&family=Fira+Code:wght@300..700&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jua&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Martian+Mono:wght@100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Pixelify+Sans:wght@400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Atkinson Hyperlegible", serif;
}

body {
	height: 100vh;
}



.start-game {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(21, 41, 56, 1);
}

.child-start {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75%;
	gap: 100px;
}

.child-start h1 {
	color: white;
	font-weight: 700;
	font-size: 32px;
}

.child-start-game {
	background: rgba(252, 252, 252, 1);
	width: 90%;
	padding: 30px;
	height: 90%;
	border-radius: 10px;
	gap: 40px;
	display: flex;
	flex-direction: column;
}

.div-child {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.div-child span {
	color: #7191a5;
	font-weight: 700;
	font-size: 15px;
	line-height: 18.6px;
}

.btn-in {
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 10px;
}

.btn-select {
	width: 45%;
	background: rgba(188, 206, 217, 1);
	padding: 10px;
	border-radius: 20px;
}

button {
	border: none;
	cursor: pointer;
	color: rgba(252, 252, 252, 1);
	font-weight: 700;
	font-size: 16px;
	text-align: center;
}

.color {
	background: rgba(48, 72, 89, 1);
}
.player:first-child {
	background-color: #304859;
}

.player {
	padding: 10px;
	width: 100%;
	background-color: #bcced9;
	border-radius: 26px;
}
.btn-grid:nth-child(2) {
	background: rgba(188, 206, 217, 1);
}

.btn-grid {
	padding: 10px;
	width: 50%;
	border-radius: 20px;
}

.btn-start-game {
	padding: 10px;
	width: 100%;
	background-color: #fda214;
	border-radius: 20px;
}

header {
	width: 100%;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	color: #152938;
}

.btn-menu {
	background-color: #fda214;
	color: #fcfcfc;
	font-size: 16px;
	font-weight: 700;
	width: 80px;
	padding: 10px;
	border-radius: 26px;
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 85vh;
	justify-content: space-between;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 18vw);
	grid-template-rows: repeat(4, 18vw);
	grid-gap: 10px;
	margin-top: 70px;
}

.rond-grid {
	background-color: #304859;
	border-radius: 50%;
}

.foot-main {
	display: flex;
	justify-content: space-between;
	width: 90%;
}

.score:nth-child(2) {
	background-color: #fda214;
	color: #fcfcfc;
}

.score:nth-child(2) {
	background-color: #fda214;
	color: #fcfcfc;

	p {
		color: #fcfcfc;
	}

	span {
		color: #fcfcfc;
	}
}

.score {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #304859;
	padding: 20px;
	width: 18%;
	gap: 10px;
	background-color: #dfe7ec;
}

.score span {
	color: #304859;
	font-size: 24px;
	font-weight: 700;
}
.score p {
	color: #7191a5;
	font-size: 15px;
	font-weight: 700;
}
.nav-burger {
	display: none;
}



@media screen and (min-width: 768px) {
	main {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.child-start {
		width: 80%;
	}

	.child-start h1 {
		font-size: 40px;
	}
	.child-start button {
		font-size: 26px;
		border-radius: 26px;
		padding: 10px;
	}
	.grid {
		grid-template-columns: repeat(4, 10vw);
		grid-template-rows: repeat(4, 10vw);
	}

	.score {
		width: 30%;
		padding: 5px;
		border-radius: 7px;
	}

	.score p {
		width: 85%;
		text-align: start;
	}

	.score span {
		text-align: start;
		width: 85%;
	}

	.foot-main {
		gap: 10px;
	}

	.grid {
		grid-template-columns: repeat(4, 15vw);
		grid-template-rows: repeat(4, 15vw);
	}

	.btn-menu {
		display: none;
	}
	.nav-burger {
		display: block;
		display: flex;
		flex-direction:row ;
		gap: 10px;
		width: 40%;
	}
	.nav-burger button:nth-child(1) {
		background-color: #fda214;
		color: white;

	}

	.nav-burger button {
		width: 45%;
		padding: 10px;
		background-color: #DFE7EC;
		font-size: 20px;
		font-weight: 700;
		color: #304859;
		border-radius: 26px;
		text-align: center;
	}

}


@media screen and (min-width: 1440px) {
	.child-start {
		width: 50%;
	}
	.child-start-game {
		height: 70%;
		border-radius: 20px;
	}

	.child-start h1 {
		font-size: 40px;
	}
	.child-start button {
		font-size: 26px;
		border-radius: 26px;
		padding: 8px;
	}
	.grid {
		grid-template-columns: repeat(4, 8vw);
		grid-template-rows: repeat(4, 8vw);
	}

}

/* popup burger */

.burger {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.5);
}
.in-div {
	background-color: #f2f2f2;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	gap: 10px;
	border-radius: 10px;
}
.btn-burger {
	background-color: #dfe7ec;
	width: 80%;
	padding: 15px;
	border-radius: 26px;
	color: #304859;
	font-size: 18px;
	font-weight: 700;
}

.jaune {
	background-color: #fda214;
	color: #fcfcfc;
}
/* second page start */

